.navbar {
  display: flex;
  background-color: #21862d;
  
}
.site-name {
  padding: 10px 30px;
  color: #181616;
}
.site-menu {
  padding: 10px 30px;
}
a {
  text-decoration: none;
  color: #212f3d;
  margin: 0px 10px;
}

