<div *ngFor="let p of products;">
            <!-- using ternary operator to change the color if the condition -->
    <div class="product-container" [ngStyle]="{backgroundColor: p.available==='yes'?'Green':'Red'}">
        <div class="image-container" >
            <img [src]="p.image" alt="" style="max-height: 50px; max-width: 50px">
        </div>
        <div class="name-container">
            <h6>{{p.name}}</h6>
        </div>
        <div class="detailContainer">
            <div class="details">{{p.available}}</div>
            <div class="details"><b>Price:</b> {{p.price}}</div>
            <div class="details"><b>Color:</b>{{p.color}}</div>
        </div>
        <div class="options">
            <button class="btn btn-success" >Show Details</button>
            <button class="btn btn-warning" *ngIf="p.available=='yes'; else notifyme" >Buy Now</button>
            <ng-template #notifyme>
                <button class="btn btn-success">notifyme</button>
            </ng-template>
        </div>
    </div>
    
</div>